# Byte-compiled / optimized / DLL files
**__pycache__/
*.py[cod]
.vscode

# Ignore data folder
data/

# Ignore logs folder
logs/

# Ignore models folder
models/

# Ignore performance folder
performance/

# File Extensions
*.csv
*.pickle
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment Variables
venv/
.env/
.venv/

# Installer logs
pip-log.txt